<script id="MainView" type="text/html">
<div class="MainView container">
	<div clss="row">
		<div class="Content-left col-md-2">
			<div class="list-group">
  				<a href="#" class="list-group-item active nav-contact-link">
    				Contact
  				</a>
  				<a href="#" class="list-group-item nav-group-link">
  					Group
  				</a>
			</div>
		</div>
		<div class="MainView-content col-md-10">
		</div>
	</div>
	
</div>	
</script>
